body {
    background: #cecece;
    text-align: center;
    margin-top: -5px;
}
ul {
    font-size: 0;
    margin: 0;
    text-align: left;
}
ul li {
    display: inline-table;
    text-align: center;
}
.bible-top {
    max-width: 400px;
    margin: 0 auto;
    background: #fefefe;
}
.bible-body {
    height: 75vh;
}
.bible-header-title {
    position: relative;
    top: 10px;
    border-bottom: solid 1px #ccc;
}
.bible-header-juan-zhang {
    margin-top: 10px;
}
.bible-body-juan li {
    width: 25%;
}
.bible-body-zhang li {
    width: 20%;
}
.bible-foot {
    border-top: solid 1px #ccc;
}
.bible-header-juan-zhang li, .bible-foot-type li {
    width: 50%;
}
.bible-header-juan-zhang li, .bible-body li, .bible-foot li{
    cursor: pointer;
}
.bible-body-juan li, .bible-body-zhang li {
    border-left: solid 0.1px #ccc;
    border-bottom: solid 0.1px #ccc;
}
.bible-body-juan li:last-child, .bible-body-zhang li:last-child {
    border-right: solid 0.1px #ccc;
}
li.active {
    color: red;
}
.bible-header-juan-zhang li {
    border-bottom: solid 3px #ccc;
}
.bible-header-juan-zhang li.active {
    border-bottom: solid 3px red;
}
.bible-foot-type li {
    background: #f2f2f2;
}
.bible-foot-type li.active {
    background: #fff;
}
