body {
    background: url(http://otzkd2ox3.bkt.clouddn.com/sky.jpg);
    background-attachment: fixed;
    text-align: center;
    opacity: 0.8;
}
ul {
    font-size: 0;
    margin: 0;
    text-align: left;
}
ul li {
    display: inline-table;
    text-align: center;
}

.bible-top,.bible-body,.bible-header,.bible-foot {
    background: #fff;
}
.bible-header {
	position: fixed;
    width: 100%;
    background: #fff;
    z-index: 999;
}

.bible-body {
	position: relative;
	top: 85px;
}
.bible-foot {
	position: fixed;
	width: 100%;
	background: #fff;
	z-index: 999;
	bottom: 0px;
    border-top: solid 1px #ddd;
}

.bible-body-juan li {
    width: 25%;
}
.bible-body-zhang li {
    width: 20%;
}
.bible-header-juan-zhang li, .bible-foot-type li {
    width: 50%;
}
.bible-header-juan-zhang li, .bible-body li, .bible-foot li{
    cursor: pointer;
}
.bible-body-juan li, .bible-body-zhang li {
    border-left: solid 0.1px #ddd;
    border-bottom: solid 0.1px #ddd;
    border-right: solid 0.1px #ddd;
}
.bible-body-juan li:last-child, .bible-body-zhang li:last-child {
    border-right: solid 0.1px #ddd;
}
.bible-body-old h4,.bible-body-new h4 {
    height: 19px;
    line-height: 19px;
}
.bible-body-old h5,.bible-body-new h5 {
    height: 30px;
    line-height: 30px;
}
li.active {
    color: red;
}
.bible-header-juan-zhang li {
    border-bottom: solid 3px #ddd;
}
.bible-header-juan-zhang li.active {
    border-bottom: solid 3px red;
}
.bible-foot-type li {
    background: #ddd;
}
.bible-foot-type li.active {
    background: #fff;
}
.plyr--audio .plyr__controls {
    padding: 5px;
}
.no {
    cursor: auto !important;
}

@media (min-width: 768px) {
    .bible-top,.bible-header,.bible-foot {
        width: 40%;
        margin: 0 auto;
    }
}